@font-face {
  font-family: fifafont;
  src: url(./resources/fonts/EASPORTS15.ttf);
}
h1,h2,h3,.title{
  font-family: fifafont;
}
body{
  background-image: url("resources/images/background-football.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  color:white;
}
.features , .signup{
  background-color: rgb(61, 2, 235);
  color:white;
}

.features>h1 , .signup>h1{
  color:rgb(230, 1, 125);

}
.font-pink{
  color:rgb(230, 1, 125);
}
.btn-pink{
background-color: rgb(230, 1, 125);
color:white;
}
.btn-outline-pink{
border-color: rgb(230, 1, 125);
color:rgb(230, 1, 125);
}
.bg-pink{
  background-color: rgb(230, 1, 125);
}