	.landing-player{
  -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 black);
  filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 red);


	}
body{
  background-image: url("resources/background-football.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
}
.features , .signup{
  background-color: white;
  color:black;
}